body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

header {
  background: #000;
  padding: 30px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #00b4ff;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  width: 260px;
  border-radius: 8px;
  text-align: center;
}

.card h2 {
  color: #00b4ff;
}

.card span {
  display: block;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.card a {
  display: block;
  padding: 10px;
  background: #00b4ff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  background: #000;
}
